<% provide(:title, "About") %>

<h1>About</h1>
<p>
  Storybook is a place where users can sign-up and write posts (including picture posts!) in their journal, as well as view other users' storybooks. 
</p>