<% provide(:title, 'Contact') %> <h1>Contact</h1>
<p>
  Hey there! You can find me on <%= link_to "LinkedIn", "https://ca.linkedin.com/in/dcaoyz" %>, or view my <%= link_to "GitHub", "https://github.com/dcaoyz" %>!
</p>