<footer class="footer">
  <small>
    Made with <span class="glyphicon glyphicon-heart"></span> by Darren Cao
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>